<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | EncoreProject</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark myNavbar">
        <div class="navbar-brand"><b>@Html.ActionLink("RentEncore", "Index", "Home", null, new { @class = "text-white" })</b></div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item ml-5">
                    @Html.ActionLink("Home", "RedirectTo", "Account", null, new { @class = "text-white" })
                </li>
                <li class="nav-item mx-4">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "text-white" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "text-white" })
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                @{
                    int roleId = Convert.ToInt32(Session["ROLE"]);
                    string email = Convert.ToString(Session["USEREMAIL"]);
                    if (!String.IsNullOrEmpty(email))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbardrop" data-toggle="dropdown">
                                Welcome&nbsp;&nbsp;<b style="color:teal">@email</b><span class="glyphicon glyphicon-triangle-bottom"></span>
                            </a>
                            <div class="dropdown-menu pl-2">
                                <div>@Html.ActionLink("My Account", "UserDetails", "User", new { email = @email, roleId = @roleId }, null)</div>
                                @if (roleId == 1)
                                {
                                    <div>@Html.ActionLink("Feedbacks", "FeedbackList", "Admin")</div>
                                }
                                @if (roleId == 2)
                                {
                                    <div>@Html.ActionLink("Order Requests", "ProductOrderList", "User")</div>
                                }
                                @if (roleId == 3)
                                {
                                    <div>@Html.ActionLink("My Orders", "MyOrders", "User")</div>
                                }
                                <div>@Html.ActionLink("Logout", "LogOut", "Account")</div>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item mx-4">@Html.ActionLink("Login", "Index", "Account", null, new { @class = "text-white" })</li>
                        <li class="nav-item">@Html.ActionLink("SignUp", "Index", "Account", null, new { @class = "text-white" })</li>
                    }
                }

            </ul>
        </div>
    </nav>


    <div class="container-fluid body-content">
        @RenderBody()
        <hr />

        <!-- FOOTER STARTS-->
        <footer class="main-footer mt-4" style="margin-left:-15px; margin-right:-15px">
            <div class="container-fluid bg-dark text-white py-5">
                <div class="row">
                    <div class="col-md-3 offset-md-1">
                        <h6>About Us</h6>
                        <p>TechAspect, Inc. a leading digital transformation agency serving organizations globally.</p>
                        <hr class="bg-white">
                        <p class="text-light">Join Our Monthly Newsletter</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary btn-md"><i class="fa fa-send"></i></button>
                                </div>
                            </div>
                        </form>
                        <hr class="d-block d-lg-none bg-white">
                    </div>
                    <div class="col-md-3 offset-md-1">
                        <h6>Blog</h6>
                        <ul class="list-unstyled">
                            <li class="d-flex align-items-center">
                                <div><img src="~/Images/footer1.jpg" width="50" height="50"></div>
                                <div>
                                    <p class="mb-1"> <a href="#" class="text-white-50">Blog post one</a></p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center my-2">
                                <div><img src="~/Images/footer2.jpg" width="50" height="50"></div>
                                <div>
                                    <p class="mb-0"> <a href="#" class="text-white-50">Blog post two</a></p>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div><img src="~/Images/footer3.jpg" width="50" height="50"></div>
                                <div>
                                    <p class="mb-0"> <a href="#" class="text-white-50">Blog post three</a></p>
                                </div>
                            </li>
                        </ul>
                        <hr class="d-block d-lg-none bg-white">
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h6>Contact</h6>
                        <p><b>TechAspect Solutions Pvt Ltd.</b><br>3rd Floor N-Heights <br>Hitec City <br>Hyderabad <br>India</p>
                        <a href="Contact.jsp" class="btn btn-success" style="font-size:12px">Go to contact page</a>
                        <hr class="d-block d-lg-none">
                    </div>
                </div>
            </div>
        </footer>

        <!-- FOOTER TWO STARTS -->
        <div class="row bg-secondary text-white" id="footer2">
            <div class="container">
                <div class="col-md-12"><p style="font-size:14px"><p>&copy; @DateTime.Now.Year - Training Project Abhishek Dwivedi</p></div>
            </div>
        </div>
        <!-- FOOTER TWO ENDS -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
