@model IEnumerable<EncoreML.RentProductModel>

@{
    ViewBag.Title = "Product Order List";
}

<hr />
<div class="d-flex justify-content-center">
    <h3><b>Orders For Review</b></h3>
</div>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayableAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayableAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PayStatus)
                @{
                    if (item.PayStatus)
                    {
                        <b class="text-success">Amount paid</b>
                    }
                    else
                    {
                        <b class="text-danger">Not Paid</b>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
                @if (item.BookingStatus)
                {
                    <b class="text-success">Approved</b>
                    <div class="ml-4 mt-2">
                        <a href="@Url.Action("CancelOrder", "User", new { id = item.Id, productId = item.ProductId })" class="btn btn-danger">Cancel</a>
                    </div>
                }
                else
                {
                    <b class="text-danger">Not Approved</b>
                    <div class="ml-4 mt-2">
                        <a href="@Url.Action("ApproveOrder", "User", new { id = item.Id, productId = item.ProductId})" class="btn btn-success">Approve</a>
                    </div>
                }
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
