@model IEnumerable<EncoreML.ProductModel>

@{
    ViewBag.Title = "Vendor Page";
}

<hr />
<div class="d-flex justify-content-center mt-3">
    <h4><b>Vendor Dashboard</b></h4>
</div>
<hr />

<div class="row">
    <div class="col-6">
        <p>
            @Html.ActionLink("Add New Product", "ProductForm", "Product", null, new { @class = "btn btn-success" })
        </p>
    </div>
    <div class="col-6 d-flex justify-content-end">
        <p>
            @Html.ActionLink("Order Requests", "ProductOrderList", "User", null, new { @class = "btn btn-success" })
        </p>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.18/datatables.min.css" />

@{
    if (TempData["ProductNotAdded"] != null)
    {
        bool failed = (bool)TempData["ProductNotAdded"];
        if (!failed)
        {
            <div class="alert alert-danger" role="alert">
                <strong>Product successfully added...</strong>
            </div>
        }
    }
}

@{
    if (TempData["Deleted"] != null)
    {
        bool deleted = (bool)TempData["Deleted"];
        if (deleted)
        {
            <div class="alert alert-success" role="alert">
                <strong>Product deleted successfully...</strong>
            </div>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                <strong>Something went wrong!</strong> Please try again later...
            </div>
        }
    }

    if (TempData["UpdateFail"] != null)
    {
        bool updatefail = (bool)TempData["UpdateFail"];
        if (!updatefail)
        {
            <div class="alert alert-success" role="alert">
                <strong>Product successfully updated!</strong>
            </div>
        }
    }
}

<hr />
<div class="d-flex justify-content-center mt-3">
    <h5><b>My Products</b></h5>
</div>
<hr />

<table id="products" class="table table-bordered">

    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PImage1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAvailability)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PUnitCost)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDescription)
            </td>
            <td>

                <img src="~/Images/@Html.DisplayFor(modelItem => item.PImage1)"
                     style="width:150px; height:150px;"
                     class="rounded mx-auto d-block">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PAvailability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PUnitCost)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", "Product", new { id = item.PId }, null) |
                @Html.ActionLink("Delete", "Delete", "Product", new { id = item.PId }, null)
            </td>
        </tr>
    }

</table>


