@model EncoreML.ProductModel

@{
    ViewBag.Title = "AdminIndex";
}

<h2>AdminIndex</h2>

<div>
    <h4>ProductModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VendorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VendorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PImage1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PImage1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PImage2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PImage2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PImage3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PImage3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAvailability)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAvailability)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PUnitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUnitCost)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
